/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/

.padding{

    padding: 24px;

    &-top{
        padding-top: 24px;
    }
    &-bottom{
        padding-bottom: 24px;
    }
}
