
# BEGIN WordPress
# The directives (lines) between `BEGIN WordPress` and `END WordPress` are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress


# # Lock access to the sensitive files to set IP addresses
# # If possible add these settings to the server config
# <Files wp-login.php>
#         order deny,allow
#         deny from all
#         # Add local IP
#         allow from 0.0.0.0
# </Files>
# <Files xmlrpc.php>
#         order deny,allow
#         deny from all
#         # Add local IP
#         allow from 0.0.0.0
# </Files>
# <Files wp-cron.php>
#         order deny,allow
#         deny from all
#         # Add local IP
#         allow from 0.0.0.0
# </Files>
# <Files wp-admin/admin-ajax.php>
#         order deny,allow
#         deny from all
#         # Add local IP
#         allow from 0.0.0.0
# </Files>

# # Set file caching
# # If possible add these settings to the server config
# <IfModule mod_headers.c>
#     # WEEK
#     <FilesMatch "\.(jpg|jpeg|png|gif|swf|mp4)$">
#         Header set Cache-Control "max-age=604800, public"
#     </FilesMatch>

#     # 1 MONTHS
#     <FilesMatch "\.(js|css|swf)$">
#       Header set Cache-Control "max-age=2419200, public"
#     </FilesMatch>
# </IfModule>