/*------------------------------------*\
    #GALLERY
\*------------------------------------*/

.gallery{

	@include mobile{

		margin-left: -($block-spacing);
		margin-right: -($block-spacing);
		overflow-x: scroll;
		scroll-snap-type:x mandatory;

		// &-images{
		// }
	}

	&-item{

		@include mobile{
			min-width: 90%;
			scroll-snap-align: center;
		}

		min-width: 50px;

		.active{
			opacity: 0.3;
		}
	}

	&-link{
		background-color: $light;
	}

	&-link, &-image{
		display: block;
	}
}