/*------------------------------------*\
    #LAZYLOAD
\*------------------------------------*/

.lazy{
    opacity: 0;
}
.loaded{
    transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
    opacity: 1;
}