.navbar-menu{
    width: 0;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 0ms, width 0.5s;
    height: 100%;
    // text-align: center;
    position: fixed;
    display: block;
    z-index: 0;
    overflow-y: scroll;
        
    &.is-active{
        opacity: 1;
        z-index: 1;
        width: 100%;
    }
    
    @include tablet{
        &.is-active{
            width: 50%;
        }
    }

    @include desktop{
        width: auto;
        opacity: 1;
        transition: none;
        position: static;
        z-index: 1;
        display: flex;
        overflow-y: visible;
        
        &.is-active{
            width: auto;
        }
    }
}

/**
* Extend Bulma nav classes. This is more efficient than restructuring custom menus.
*/

.menu-item-has-children{
    @extend .has-dropdown;
    @extend .is-hoverable;
}

.menu-item-has-children > a{
    @extend .navbar-link; 
}

.sub-menu{
    @extend .navbar-dropdown;
}

.menu-item,
.menu-item > a {
    @extend .navbar-item;
}