/*------------------------------------*\
    #HELPERS
\*------------------------------------*/

@include touch{
    .no-scroll{
        position: fixed;
        width: 100%;
    }
}

@include tablet{

    .is-sticky{
        position: sticky;
        top: 24px;
        top: 1.5rem;

        .has-navbar-fixed-top &{
            top: 80px; // fallback
            top: $navbar-height + 1.5rem;
        }
    }
}